@media screen and (min-width: 1200px) {
  .comtainer {
    max-width: 1158px;
  }
  .article {
    padding-bottom: 120px;
  }
  .article-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    text-align: center;
    list-style: none;
    margin-bottom: 72px;
  }

  .article-list {
    display: flex;
    gap: 24px;
    list-style: none;
  }

  .article-item {
    width: calc(100% - 360px);
    display: block;
    list-style: none;
  }
  .advantages {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .advantages-items {
    display: flex;
    gap: 24px;
    list-style: none;
  }

  .advantages-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    display: block;
    list-style: none;
  }
  .advantages-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-top: 0;
    max-width: 264px;
    display: block;
    gap: 24px;
    list-style: none;
  }

  .advantages-box {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: var(--advantages-box-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .customers-container {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customer-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--customer-title-color);
    margin-bottom: 72px;
  }

  .customer-list {
    display: flex;
    gap: 24px;
  }
}
