@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .header-mailto,
  .header-tel {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    max-width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-hero-color);
  }
  .hero-container {
    padding: 188px;
  }
  .hero-title {
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
    max-width: 496px;
    text-align: center;
  }

  .advantages-container {
    padding: 120px 0;
    max-width: 100%;
  }
  .advantages-item {
    list-style: none;
    margin-bottom: 0;
  }
  .advantages-list {
    display: flex;
    gap: 24px;
  }
  */ .advantages-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .advantages-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    display: block;
    list-style: none;
    text-align: left;
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-top: 0;
    width: 264px;
    display: block;
    list-style: none;
  }

  .advantages-box {
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: var(--advantages-box-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-position: center;
  }
  /*.article {
    padding: 120px 156px;
  }*/
  .team-container {
    padding: 120px 0;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .customers-container {
    padding: 120px 0;
  }

  .customer-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--customer-title-color);
    margin-bottom: 72px;
  }

  .customer-list {
    display: flex;
    flex-wrap: nowrap;

    gap: 24px;
  }

  .customer-item:last-child {
    margin-right: 0;
  }
  .customer-link {
    width: 168px;
    height: 88px;
  }
  /* Background image */

  @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (-o-min-device-pixel-ratio: 1/1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    .section.hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-dekstop-1x.jpg);
      background-color: var(--background-hero-color);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section.hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-dekstop-2x.jpg);
      background-color: var(--background-hero-color);
    }
  }
}
