@media screen and (min-width: 480px) {
  .comtainer {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    width: 428px;
  }

  .contact-mobile.mobility {
    font-size: 26px;
  }

  .modal-policy {
    font-size: 8px;
    letter-spacing: 0.02em;
  }
  /* Mobile menu */
  .mob-item {
    margin-bottom: 40px;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mob-list .mob-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-mail {
    margin-bottom: 48px;
  }

  .mobile-tel {
    margin-bottom: 40px;
  }

  .header-btn-mobile-close {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
  }
  .hero-title {
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--secondary-font-color);
    max-width: 320px;
    text-align: center;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-hero-color);
    max-width: 428px;
  }
  .hero-container {
    padding: 112px 56px;
  }

  .advantages-container {
    padding: 96px 0px;
    max-width: 428px;
  }
  .advantages-title {
    text-align: center;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
  }
  .advantages-item {
    margin-bottom: 72px;
  }
  .advantages-item:last-child {
    margin-bottom: 0;
  }
  .customers-container {
    padding: 96px 0;
  }

  .customer-list {
    max-width: 404px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
  }
  .customer-item {
    margin-bottom: 0px;
    flex-basis: calc((100% - 16px) / 2);
  }
  .customer-item:nth-child(3n) {
    margin-right: 0;
  }

  .customer-link {
    width: 100%;
    height: 100%;
  }
  .team-container {
    padding: 96px 0;
  }
  .portfolio-container {
    padding: 48px 0;
  }
  .content-set {
    list-style: none;
    display: flex;

    row-gap: 48px;
    align-items: center;
  }
  .subscribe-input {
    max-width: 398px;
  }
  /* Background image */

  @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (-o-min-device-pixel-ratio: 1/1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    .section.hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-mobile-1x.jpg);
      background-color: var(--background-hero-color);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-mobile-2x.jpg);
      background-color: var(--background-hero-color);
    }
  }
}

@media screen and (max-width: 1158px) {
  .article,
  .article-title,
  .article-list,
  .advantages-box {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-list,
  .address-list {
    display: none;
  }
  .header-logo {
    margin-right: 0;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    padding: 24px 0;
  }
  .portfolio-img {
    width: 396px;
    height: 280px;
  }
  .portfolio-list {
    margin: auto;
    max-width: 428px;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .portfolio-list .portfolio-button {
    margin-right: 24px;
    margin-bottom: 16px;
  }
  .portfolio-list .portfolio-button:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .content-set {
    flex-direction: column;
  }
  .footer-media {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 72px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
  }
  .footer-media-title {
    text-align: center;
  }
  .subscribe-field {
    display: block;
  }
  .footer-subscribe {
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .subscribe-input {
    margin-bottom: 16px;
  }
  .footer-subscribe-title {
    text-align: center;
  }
  .footer-logo {
    display: block;
    text-align: center;
  }

  .footer-logo-block {
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe-form-button {
    margin-left: auto;
    margin-right: auto;
  }
  .header-container {
    display: block;
  }
  .subscribe-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media screen and (max-width: 402px) {
  .contact-tel {
    font-size: 26px;
  }
  .mobile-social-item {
    margin-right: 40px;
  }

  .mobile-social-item:not(:last-child) {
    margin-right: 29px;
  }
  .mobile-social-item:not(:last-child) {
    margin-right: 29px;
  }
}
