@media screen and (min-width: 768px) {
  .comtainer {
    max-width: 768px;
  }

  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    flex-direction: row;
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
