@media screen and (min-width: 768px) {
  .comtainer {
    max-width: 768px;
  }

  .advantages {
    padding: 96px 16px;
  }

  .advantages-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
    margin-top: 0;
    margin-right: auto;
    text-align: left;
  }
  .advantages-text {
    text-align: left;
  }
  .section.article {
    display: none;
  }
  .team {
    padding: 96px 108px;
  }

  .team-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .customers-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customer-list {
    display: flex;
    flex-wrap: wrap;
  }
  .customer-item {
    margin-right: 24px;
  }
}

@media screen and (max-width: 1157px) {
  .advantages-icon,
  .advantages-box {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .article-title,
  .advantages-box {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer-list {
    max-width: 552px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    width: calc((100% - 24px * 2) / 3);
  }
}
